.container
    .jumbotron
        h1 Sport
        p {{ myVar }}

    .row
        .col-md-6
            div(ng-include="'/partials/incomplete-attendances'")
        .col-md-6
            div(ng-include="'/partials/complete-attendances'")